body{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.borderIMG1{
    border-radius: 10px;
    border-color: white;   
    max-width: 1200px; 
}


::placeholder{
    color: black;
}

body {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: white
}

nav {
    display: flex;
}

nav button {
    margin-right: 10px;
}

.search {
    margin-bottom: 20px;
}

.search input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border-color: black;
}

.categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.categories button {
    flex: 1;
    margin-right: 10px;
}

.sort {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sort select {
    margin-left: 10px;
    padding: 5px;
}

.gallery {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.gallery img {
    flex: 1 0 100%;
    margin-bottom: 10px;
}

@media (min-width: 600px) {
    .gallery img {
        flex: 1 0 48%;
        margin-right: 10px;
    }
}

@media (min-width: 1024px) {
    .gallery img {
        flex: 1 0 32%;
    }
}

body {
    font-family: Arial, sans-serif;
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .pagination button {
    margin: 5px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f2f2f2;
    cursor: pointer;
  }

  .pagination button:hover {
    background-color: #ddd;
  }

  .pagination .active {
    background-color: #4CAF50;
    color: white;
  }