/* body{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.borderIMG1{
    border-radius: 10px;
    border-color: white;    
}

.pesquisar{
    width: 100%;  
    border-radius: 5px;
    background-color: rgb(68, 59, 59);
    color: white;
    height: 40px;
}

::placeholder{
    color: white; */
}